.header {
  background: #f9f0e5;
  color: #565656;
  text-align: center;
  font-family: "SuisseIntl-Regular", sans-serif;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 318.182% */
  letter-spacing: 0.88px;
  display: flex;
  justify-content: center;
}

.header span {
  margin: 0 10px;
}

@media screen and (max-width: 859px) {
  .hide_moblile_screen {
    display: none;
  }
}
